<template>
  <div class="w-screen h-screen bg-green-700 flex flex-col items-center justify-center">
    <router-link class="link" to="bosque">Bosque</router-link>
    <router-link class="link" to="cachoeira">Cachoeira</router-link>
    <router-link class="link" to="galinheiro">Galinheiro</router-link>
    <router-link class="link" to="galpao">Galpão</router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({

})
</script>

<style scoped>
.link {
  @apply text-gray-300 text-3xl py-2 my-2 w-48 text-center no-underline font-sans bg-green-800 shadow-md
}

.link:hover {
  @apply text-white shadow-lg
}
</style>