<template>
    <div>
        <!-- <div class="info">
        {{yaw}}  |  {{pitch}}
        </div> -->
        <div class="cover" v-show="!started">
        <h1>{{title}}</h1>
        <p v-if="canplay"><button @click="startApp">Entrar</button></p>
        <p v-else>loading</p>
        </div>
        <Vimeo360
        ref="pano"
        :src="videoSrc"
        @canplay="videoLoaded = true"
        @cameraMove="cameraMove"
        @playing="paused = false"
        @pause="paused = true"
        >
        </Vimeo360>
        <spacial-audio
        ref="audio"
        v-model:paused="paused"
        :src="audioSrc"
        :yaw="yaw"
        :pitch="pitch"
        @canplay="audioLoaded = true">
        </spacial-audio>
    </div>
</template>

<script lang="ts">
import Vimeo360 from '../components/Vimeo360.vue'
import spacialAudio from '../components/spacialAudio.vue'

type Coordinates = {yaw: number, pitch: number, roll: number, fov: number}

export default {
  name: 'App',
  components: {
    Vimeo360,
    spacialAudio
  },
  props: {
    title: {
      type: String,
      required: true
    },
    videoSrc: {
      type: String,
      required: true
    },
    audioSrc: {
      type: String,
      required: true
    },
  },
  data: () => ({
    videoLoaded: false,
    audioLoaded: false,
    started: false,
    paused: true,
    yaw: 0,
    pitch: 0
  }),
  computed: {
    canplay(): boolean {return this.videoLoaded && this.audioLoaded}
  },
  methods: {
    startApp() {
      this.started = true
      this.$refs.pano.play()
      this.$refs.audio.createPan()
    },
    cameraMove(coordinates: Coordinates) {
      this.yaw = coordinates.yaw * Math.PI / 180
      this.pitch = coordinates.pitch
    }
  }
}
</script>

<style>
* {box-sizing: border-box;}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  z-index: 10;
}
</style>
