<template>
  <!-- <div class="test">
  </div> -->
  <audio
    ref="audioL"
    :src="audioL"
    @pause="$emit('update:paused', true)"
    @playing="$emit('update:paused', false)"
    @canplay="readyToPlay"
  >
  </audio>
  <audio
    ref="audioR"
    :src="audioR"
    @pause="$emit('update:paused', true)"
    @playing="$emit('update:paused', false)"
    @canplay="readyToPlay"
  >
  </audio>
  <audio
    ref="audioLs"
    :src="audioLs"
    @pause="$emit('update:paused', true)"
    @playing="$emit('update:paused', false)"
    @canplay="readyToPlay"
  >
  </audio>
  <audio
    ref="audioRs"
    :src="audioRs"
    @pause="$emit('update:paused', true)"
    @playing="$emit('update:paused', false)"
    @canplay="readyToPlay"
  >
  </audio>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
const audios = import.meta.glob('../assets/audios/*/*.wav')

export default defineComponent({
  props: {
    src: {
      type: String,
      required: true
    },
    paused: Boolean,
    pitch: {
      type: Number,
      required: true
    },
    yaw: {
      type: Number,
      required: true
    }
  },
  emits: ['update:paused', 'canplay'],
  data: () => ({
    audioL: null,
    audioR: null,
    audioLs: null,
    audioRs: null,
    lPan: null,
    rPan: null,
    lsPan: null,
    rsPan: null,
    playStatus: 0
  }),
  computed: {
    volume(): number {
      let volume = (Math.abs(this.yaw) / Math.PI)
      return volume
    }
  },
  methods: {
    setVolumes() {
      const vL = Math.sin(this.yaw + 3 * Math.PI / 4) + .5
      const vR = Math.sin(this.yaw + Math.PI / 4) + .5
      const vLs = Math.sin(this.yaw - 3 * Math.PI / 4) + .5
      const vRs = Math.sin(this.yaw - Math.PI / 4) + .5
      this.$refs.audioL.volume = vL < 0 ? 0 : vL > 1 ? 1 : vL
      this.$refs.audioR.volume = vR < 0 ? 0 : vR > 1 ? 1 : vR
      this.$refs.audioLs.volume = vLs < 0 ? 0 : vLs > 1 ? 1 : vLs
      this.$refs.audioRs.volume = vRs < 0 ? 0 : vRs > 1 ? 1 : vRs
    },
    setPans() {
      this.lPan.pan.value = Math.cos(this.yaw + 3 * Math.PI / 4)
      this.rPan.pan.value = Math.cos(this.yaw + Math.PI / 4)
      this.lsPan.pan.value = Math.cos(this.yaw - 3 * Math.PI / 4)
      this.rsPan.pan.value = Math.cos(this.yaw - Math.PI / 4)
    },
    createPan() {
      const audioCtx = new (window.AudioContext || window.webkitAudioContext)()

      let lSource = audioCtx.createMediaElementSource(this.$refs.audioL)
      let rSource = audioCtx.createMediaElementSource(this.$refs.audioR)
      let lsSource = audioCtx.createMediaElementSource(this.$refs.audioLs)
      let rsSource = audioCtx.createMediaElementSource(this.$refs.audioRs)

      this.lPan = audioCtx.createStereoPanner()
      this.rPan = audioCtx.createStereoPanner()
      this.lsPan = audioCtx.createStereoPanner()
      this.rsPan = audioCtx.createStereoPanner()

      lSource.connect(this.lPan)
      rSource.connect(this.rPan)
      lsSource.connect(this.lsPan)
      rsSource.connect(this.rsPan)

      this.lPan.connect(audioCtx.destination)
      this.rPan.connect(audioCtx.destination)
      this.lsPan.connect(audioCtx.destination)
      this.rsPan.connect(audioCtx.destination)

      this.setVolumes()
      this.setPans()
    },

    readyToPlay() {
      this.playStatus ++
      if(this.playStatus === 4) this.$emit('canplay')
    }
  },
  watch: {
    paused() {
      if(this.paused === true) {
        this.$refs.audioL.pause()
        this.$refs.audioR.pause()
        this.$refs.audioLs.pause()
        this.$refs.audioRs.pause()
      } else {
        this.$refs.audioL.play()
        this.$refs.audioR.play()
        this.$refs.audioLs.play()
        this.$refs.audioRs.play()
      }
    },
    yaw() {
      this.setVolumes()
      this.setPans()
    },
    pitch() {
      //this.setVolumes()
    }
  },
  created() {
    const sides = ['L', 'R', "Ls", "Rs"]

    for(let side of sides) {
      audios['../assets/audios/' + this.src + '/' + side + '.wav']().then((result) => {
        this['audio' + side] = result.default
      })
    }
  }
})
</script>

<style scoped>
.test {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  color: #fff;
  background: #000;
  padding: 20px;
}
</style>