<template>
  <vue-vimeo-player
    ref="player"
    :video-url="src"
    :autoplay="started"
    :events-to-emit="['camerachange', 'playing', 'pause']"
    :options="{'muted': true}"
    @camerachange="test"
    @playing="$emit('playing')"
    @pause="$emit('pause')"
    class="player">
    </vue-vimeo-player>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { vueVimeoPlayer } from 'vue-vimeo-player'

export default defineComponent({
  components: { vueVimeoPlayer },
  props: {
    src: {
      type: String,
      required: true
    },
    started: Boolean
  },
  emits: ['canplay', 'cameraMove', 'playing', 'pause'],
  methods: {
    test(e: {yaw: number, pitch: number, roll: number, fov: number}) {
      this.$emit('cameraMove', e)
    },
    play() {
      this.$refs.player.play()
    }
  },
  mounted() {
    this.$emit('canplay')
  }
})
</script>

<style scoped>
.player, .player::v-deep(iframe) {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

</style>