<template>
  <div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    

    return {}
  }
})
</script>

<style lang="postcss" scoped>
@tailwind base;
@tailwind components;
@tailwind utilities;
</style>